<!DOCTYPE html>
<html>
<head>
    <title>Employer Dashboard</title>
</head>
<body>
    <h1>Employer Dashboard</h1>
    <h2>Employees Pending Decision</h2>
    {% for employee in employees %}
        <div style="border:1px solid #ccc; padding: 10px; margin-bottom: 10px;">
            <p><strong>Employee:</strong> {{ employee.user.username }}</p>
            <p><strong>Probation End Date:</strong> {{ employee.probation_end_date }}</p>
            <p><strong>Status:</strong> {{ employee.get_status_display }}</p>
            <form method="post" action="{% url 'handle_decision' employee.id %}">
                {% csrf_token %}
                <button name="action" value="confirm">Confirm as Full-Time</button>
                <button name="action" value="reject">Reject</button>
                <br><br>
                <label>Extend Probation (days):</label>
                <input type="number" name="extend_days" min="1" required>
                <button name="action" value="extend">Extend Probation</button>
            </form>
        </div>
    {% empty %}
        <p>No pending decisions.</p>
    {% endfor %}
        <br><br>
    <div >
        <a href="{% url 'logout' %}" style="padding: 8px 12px; background: #ddd; text-decoration: none; border: 1px solid #ccc;">Logout</a>
    </div>
</body>
</html>
